.NotFound{
  background-color: #d4f1f4;
  color: #05445e;
  clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 20px), 0 100%);
  margin-top: -20px;
  padding: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .page-not-found{
    height: auto;
    max-width: 400px;
    width: 100%;
    margin: 30px 0;
  }
}